<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yordam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Yordam</h1>
        <p>Bu yerda yordam bo'limi uchun kerakli ma'lumotlar joylashadi.</p>
        <h2>Qanday yordam kerak?</h2>
        <ul>
            <li>1. Savol yoki muammo haqida ma'lumot bering.</li>
            <li>2. Bizning jamoamizdan yordam so'rang.</li>
            <li>3. Qo'shimcha resurslarni ko'rib chiqing.</li>
        </ul>
        <h3>Aloqa ma'lumotlari</h3>
        <p>Agar yordam kerak bo'lsa, quyidagi aloqa ma'lumotlaridan foydalaning:</p>
        <ul>
            <li>📞 Telefon raqam: +998 94-342-43-46</li>
            <li>📧 Email: shomurodovbegzod9@gmail.com.com</li>
            <li>💬 Telegram: @django_dev7</li>
        </ul>
        <p>Muammo yoki savollar bilan bog'liq holda ushbu telefon raqamiga, Telegram manziliga yoki emailga murojaat qiling.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Asosiy sahifaga qaytish</a>
    </div>
</body>
</html>
